.card {
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    margin: auto;
    margin: 2rem;
    padding: 1rem 2rem 1rem;
    max-width: 60ch;
    height: fit-content;
    background: linear-gradient(var(--primary-color) 20px, #fff 70px);

    &__title {
        color: #fff;
        padding-bottom: 3rem;
    }

    & p {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }

    &__span {
        font-size: 1.2rem;
        font-weight: bold;
    }
}