.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    height: 75px;

    &__bars {
        padding: 20px;
        cursor: pointer;
        margin-right: auto;
        background: none;
    }

    &__title {
        color: #fff;
        font-size: 2rem;
        margin: 0 auto;
        text-align: center;
        flex-basis: 100%;
    }

    &__dropdown {
        position: relative;

        &-menu {
            display: flex;
            opacity: 0;
            position: absolute;
            top: 73px;
            left: -200px;
            width: fit-content;

        }
    }
}

.navbar__dropdown:hover .navbar__dropdown-menu {
    opacity: 1;
    transform: translateX(200px);
    transition: all 500ms ease-in-out;
}