.grid {
    display: grid;
    grid-template-columns: minmax(375px, 1200px);
    row-gap: 2rem;

    &__inner {
        display: grid;
        row-gap: 2rem;
    }

    &__start {
        grid-column-start: 0;
    }
}

@media (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr minmax(300px, 1200px) 1fr;
        gap: 2rem;
        margin-top: 2rem;

        &__inner {
            grid-column-start: 2;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 1rem;
        }

        &__start {
            grid-column-start: 2;
        }
    }
}
