@use "./index" as i;

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    background-color: i.$background-color;
    grid-template-areas: ". main .";
}
